.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tabContent {
  padding-left: 15px;
  padding-right: 15px;
  overflow-y: auto;
  height: calc(100vh - 100px);
}

.game-timeline {
  margin-top: 10px;
  margin-left: 16px;
}

.game-timeline .rs-timeline-item-custom-dot .rs-icon {
  position: absolute;
  background: #fff;
  top: 0;
  left: -2px;
  border: 2px solid #ddd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  padding-top: 10px;
  color: #999;
  margin-left: -13px;
}

.game-timeline .rs-timeline-item-content {
  padding-left: 30px;
}

.game-timeline .rs-panel-heading {
  padding: 14px;
}

.game-timeline .rs-panel-collapsible .rs-panel-heading::before {
  top: 5px;
}

.trade .rs-avatar {
  position: relative;
  top: 6px;
  right: 10px;
}

.tradelist {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* News Feed & Articles */
.newsFeedHeader {
  padding-bottom: 10px;
}

.artCont {
  border: solid 1px #d9d9d9;
  margin: 10px;
  padding: 5px 2px 0px 5px;
  border-radius: 6px 6px 6px 6px;
  background-color: #f2f2f2;
}
.artCont button {
  float: right;
}
.svg-map {
	width: 100%;
	height: 100%;
	stroke: #666;
	stroke-width: 1;
	stroke-linecap: round;
	stroke-linejoin: round;
}


.bottom:hover {  
	opacity: .5;
}

.top:hover {  
	opacity: .5;
}

.left:hover {  
	opacity: .5;
}

.right:hover {  
	opacity: .5;
}

.middle:hover {  
	opacity: .6;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
