.App {
  text-align: left;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.tabContent {
  padding-left: 20px;
  overflow-y: auto;
  height: calc(100vh - 100px);
}

.game-timeline {
  margin-left: 16px;
}

.game-timeline .rs-timeline-item-custom-dot .rs-icon {
  position: absolute;
  background: #fff;
  top: 0;
  left: -2px;
  border: 2px solid #ddd;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 18px;
  padding-top: 9px;
  color: #999;
  margin-left: -13px;
}

.game-timeline .rs-timeline-item-content {
  padding-left: 30px;
}

.game-timeline .rs-panel-heading {
  padding: 12px;
}

.game-timeline .rs-panel-collapsible .rs-panel-heading::before {
  top: 12px
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
